{% extends "RepGestionBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <div class="col-md-12 ">
        <div class="col-md-12">
            <img src="{{ asset('images/logoAcc.png') }}" style="height: 79px;"/>
            <span style="
                  color: wheat;
                  font-size: 35px;
                  font-family: serif;">
                Bienvenue dans l'application de gestion et répartition des crédits de communication
            </span>
            <img class="pull-right" src="{{ asset('images/logoAccD.png') }}" style="height: 79px;"/>
        </div>
        <div class="pull-right">
            <a href="{{ path('rep_gestion_homepage')}}">
                <div class="col-md-12 ll" 
                     style="border-radius: 10px;
                     font: 18px constantia;
                     color: #286090;
                     font-weight: bold;"
                     ><u>Déconnexion</u></div>
            </a>
        </div>
        <div class="col-md-12 test">
            <div class="panel-primary col-md-5">
                <div class="panel panel-heading col-md-12" style="
                     margin-left: -15px;
                     margin-right: -25px;">
                    <strong style="font-size: 18px"><u>Choisir ou dérouler la branche à manipuler</u></strong>
                    <button type="button" class="btn btn-success pull-right"><span class="glyphicon glyphicon-refresh"></span>Actualiser</button>
                </div>
                <scroll class="panel-body" style="
                        color: #04101b;
                        font-size: 16px;">
                    {{arbreDirection | raw}}
                </scroll>
                <div class="panel-footer col-md-12" style="
                     margin-left: -15px;
                     margin-right: -25px;">
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-save"> Importer des données</span></button>
                </div>
            </div>

            {% block detail %}
                <div class="col-md-7 panel-primary active">
                    <div class="panel panel-heading col-md-12" style="
                         margin-left: -15px;
                         margin-right: -25px;">
                        <strong style="font-size: 18px"><u>Détails sur la branche sélectionnée</u></strong>
                        <button type="button" class="btn btn-primary active pull-right"><span class="glyphicon glyphicon-print"></span> Exporter les données</button>
                    </div>
                    <scroll class="well col-md-12" style="
                            color: #04101b;
                            font-size: 16px;
                            margin-left: -15px;
                            margin-right: -25px;
                            margin-top: -15px;
                            margin-bottom: 2px;">
                        <center><h4>Vous êtes au niveau de: <b>Example de branche</b></h4></center>
                        <div class="chef">

                        </div>
                        <div class="poste">

                        </div>
                        <div class="retour">

                        </div>
                    </scroll>
                    <div class="panel-footer col-md-12" style="
                         margin-left: -15px;
                         margin-right: -25px;">
                        <b>Les informations ci-dessus sont modifiables. N'oubliez pas d'enregistrer en sortant sinon elle seront toutes perdues!</b>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
