{% extends "RepGestionBundle:Rep:detail.html.twig" %}
{% block title %}Poste(Ajout | Modification) {% endblock %}

{% block poste %}
    {% set update = 0 %}
    {% if posted is defined %}
        {% set update = 1 %}
    {% endif %}
    <h4 class="col-md-12"><b><u>{% if update == 1 %} Modification d'un poste {% else %}Ajout d'un nouveau poste {% endif %}</u></b></h4>
    <form action="{{ path('save_poste') }}" method="POST" class="col-md-12 form-inline panel panel-primary panel-body">
        {% if update == 1 and posted.categorie.id is defined  %}
            <input type="text" class="hide"  value="{{posted.id}}" name="idP">
        {% endif %}
        <div class="col-md-12 form-group nomCP" 
             style="margin-top: 5px;">
            <label for="poste" class="col-md-4 control-label">Nom du poste <span style="color: red">*</span></label>
            <b><input onfocus="editerFocus('nomCP', 'nom');" {% if update == 1 %} value="{{posted }}" {% endif %} type="text" class="form-control poste-class" id="nomP" name="nomP" placeholder="Nom du poste" style="font-size: 16px;"><span class="glyphicon glyphicon-remove form-control-feedback hide nom "></b>
        </div>
        <div class="col-md-12 form-group preCP"
             style="margin-top: 5px;">
            <label for="categorie" class="col-md-4 control-label">Categorie <span style="color: red">*</span></label>
            <b><select onfocus="editerFocus('preCP', 'pren');" id="prenP" class="form-control" name="prenP" style="font-size: 16px;">
                    <option 
                        {% if update == 1 and posted.categorie.id is defined %}
                            value="{{posted.categorie.id}}"
                        {% else %}
                            value="-1"
                        {% endif %} class="form-control" selected >
                        {% if update == 1 and posted.categorie.id is defined %} 
                            {{posted.categorie }} 
                        {% else %}
                            Choisir sa categorie 
                        {% endif %}
                    </option>
                    {% for categorie in listCategorie %}
                        <option value="{{categorie.id }}" class="form-control" style="font-size: 16px; font-weight: bold; color: black;">{{categorie}}</option>
                    {% endfor %}
                </select><span class="glyphicon glyphicon-remove form-control-feedback hide pren "></b>
            <a href="{{ path('add_categorie') }}" style="font-size: 16px; cursor: pointer; margin-left: 20px" class=""><span class="glyphicon glyphicon-exclamation-sign"><u><b>Catégorie inexistante</b></u></span></a>
        </div>
        <div class="col-md-12 form-group matCP"
             style="margin-top: 5px;">
            <label for="poste" class="col-md-4 control-label">Occupant <span style="color: red">*</span></label>
            <b><select onfocus="editerFocus('matCP', 'mat');" id="matP" class="form-control" name="matP" style="font-size: 16px;">
                    <option 
                        {% if update == 1 and posted.occupant.id is defined %}
                            value="{{posted.occupant.id}}"
                        {% else %}
                            value="-1" 
                        {% endif %} class="form-control" selected>
                        {% if update == 1 and posted.occupant.id is defined%} 
                            {{posted.occupant }} 
                        {% else %} 
                            Choisir l'occupant 
                        {% endif %}
                    </option>
                    {% for occupant in listOccupant %}
                        <option value="{{occupant.id }}" class="form-control" style="font-size: 16px; font-weight: bold; color: black;">{{occupant}}</option>
                    {% endfor %}
                </select><span class="glyphicon glyphicon-remove form-control-feedback hide mat "></b>
            <a href="{{ path('add_personnel') }}" style="font-size: 16px; cursor: pointer; margin-left: 5px" class=""><span class="glyphicon glyphicon-exclamation-sign"><u><b>Nouveau personnel </b></u></span></a>
        </div>
        <div class="col-md-12 form-group"
             style="margin-top: 5px;">
            <label for="poste" class="col-md-4">Observation</label>
            <textarea type="" name="observ" class="form-control" id="poste.id" placeholder="Observations" style="
                      margin: 0px; 
                      width: 250px;
                      font-size: 16px;
                      height: 151px;"> {% if update == 1 %} {{posted.observation }} {% else %} {% endif %} </textarea>
        </div>
        <div class="col-md-12 form-group"
             style="margin-top: 5px;">
            <label for="poste" class="col-md-4">Rataché à: <span style="color: red">*</span></label>
            <nav type="" class="form-control" id="poste.id" style="font-size: 16px;"><b>{{aDetailler}}</b></nav>
            <input type="text" name="DirId" class="hide" value="{{aDetailler.id }}" />
        </div>
        <label style="color: red;margin-top: 5px" class="hide err">Les champs avec * sont obligatoires.</label>
        <div class="col-md-12" style="margin-top: 12px">
            <a href="{{ path('list_detail_direction', {'id': aDetailler.id}) }}"><button type="button" class="btn btn-success active col-md-2 col-md-offset-4"><span class="glyphicon glyphicon-remove-circle">Annuler</span></button></a>
            <a><button type="submit" class="btn btn-primary col-md-2 col-md-offset-1"><span class="glyphicon glyphicon-plus-sign">{% if update == 1 and posted.occupant.id is defined %}Modifier {% else %}Ajouter {% endif %}</span></button></a>
        </div>
    </form>
    {% if error is defined %}
        <script>
            validationFormPoste();
            $('.err').removeClass('hide');
        </script>
    {% endif %}
{% endblock %}