{% extends "RepGestionBundle:Rep:detail.html.twig" %}
{% block title %}Ajout d'un nouveau poste{% endblock %}

{% block poste %}
    {% set update = 0 %}
    {% if posted is defined %}
        {% set update = 1 %}
    {% endif %}
    <h4 class="col-md-12"><b><u>{% if update == 1 %} Modification d'un poste {% else %}Ajout d'un nouveau poste {% endif %}</u></b></h4>
    <form class="col-md-12 form-inline panel panel-primary panel-body">
        <div class="col-md-12" 
             style="margin-top: 5px;">
            <label for="poste" class="col-md-4">Nom du poste <span style="color: red">*</span></label>
            <b><input {% if update == 1 %} value="{{posted }}" {% endif %} type="text" class="form-control poste-class" id="posteid" placeholder="Nom du poste" style="font-size: 16px;"></b>
        </div>
        <div class="col-md-12"
             style="margin-top: 5px;">
            <label for="categorie" class="col-md-4">Categorie <span style="color: red">*</span></label>
            <b><select class="form-control" style="font-size: 16px;">
                    <option value="categorie.id" class="form-control" selected >{% if update == 1 %} {{posted.categorie }} {% else %}Choisir sa categorie {% endif %}</option>
                    <option value="categorie.id" class="form-control" >Categorie</option>
                </select></b>
            <a href="{{ path('add_categorie') }}" style="font-size: 16px; cursor: pointer; margin-left: 20px" class=""><span class="glyphicon glyphicon-exclamation-sign"><u><b>Catégorie inexistante</b></u></span></a>
        </div>
        <div class="col-md-12"
             style="margin-top: 5px;">
            <label for="poste" class="col-md-4">Occupant <span style="color: red">*</span></label>
            <b><select class="form-control" style="font-size: 16px;">
                    <option value="occupant.id" class="form-control" selected>{% if update == 1 %} {{posted.occupant }} {% else %} Choisir l'occupant {% endif %}</option>
                    <option value="occupant.id" class="form-control">occupant</option>
                </select>
            </b>
            <a href="{{ path('add_personnel') }}" style="font-size: 16px; cursor: pointer; margin-left: 20px" class=""><span class="glyphicon glyphicon-plus-sign"><u><b>Nouveau personnel</b></u></span></a>
        </div>
        <div class="col-md-12"
             style="margin-top: 5px;">
            <label for="poste" class="col-md-4">Observation</label>
            <textarea type="" class="form-control" id="poste.id" placeholder="Observations" style="
                      margin: 0px; 
                      width: 250px;
                      font-size: 16px;
                      height: 151px;"> {% if update == 1 %} {{posted.observation }} {% else %} Observations{% endif %} </textarea>
        </div>
        <div class="col-md-12"
             style="margin-top: 5px;">
            <label for="poste" class="col-md-4">Rataché à: <span style="color: red">*</span></label>
            <nav type="" class="form-control" id="poste.id" style="font-size: 16px;"><b>{{aDetailler}}</b></nav>
        </div>
    </form>
    <a href="{{ path('list_detail_direction', {'id': aDetailler.id}) }}"><button type="button" class="btn btn-success active col-md-2 col-md-offset-6"><span class="glyphicon glyphicon-remove-circle">Annuler</span></button></a>
    <a><button type="button" class="btn btn-primary col-md-2 col-md-offset-2"><span class="glyphicon glyphicon-plus-sign">Ajouter</span></button></a>
{% endblock %}