{% extends "RepGestionBundle:Rep:accueil.html.twig" %}
{% block title %}{{ parent() }} - Exportation{% endblock %}

{% block quota %}
    <div class="col-md-12 panel-primary active well">
        <div class="panel panel-heading col-md-12" style="">
            <center><strong style="font-size: 20px; color: black; font-family: constantia;">EXPORTATION DES DONNEES POUR LA REPARTITION DU CREDIT DE COMMUNICATION HEBDOMADAIRE DU PERSONNEL</strong></center>
        </div>
        <scroll class="col-md-12" style="
                color: #04101b;
                font-family: constantia;
                font-size: 16px;">
            <div class="poste">
                <table class="col-md-12 table table-bordered table-striped display cell-border row-border compact" id="listQuota">
                    <center><h2 class="col-md-12">Récapitulatif des Quotas de : <b>{{ aDetailler }}</b></h2></center>
                    <thead class="panel alert-info panel-primary active panel-heading">
                        <tr>
                            <th>N<u><sup>0</sup></u></th>
                    <th>Noms et prénoms</th>
                    <th>Matricules</th>
                    <th>Téléphones</th>
                    <th>Quotas</th>
                    <th>Première attribution</th>
                    <th>Decision</th>
                    <th>Observations</th>
                    <th>Direction</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{ export | raw }}
                    <tfoot>
                        <tr>
                            <td colspan="9"><center><h2>Total: <span style="color: green; font-size: 45px"><b>{{total}}</b></span> FCFA</h2></center></td>
                    </tr>
                    </tfoot>
                    </tbody>
                </table>
                <script>
                    $('#listQuota').DataTable({
                        "pagingType": "full_numbers",
                        "lengthMenu": [[10, 10], [10, 10]],
                        dom: 'Bfrtip',
                        lengthChange: true,
                        buttons: ['excel', 'pdf', 'print'],
                        "language": {
                            "url": "{{ asset('DataTables/French.json') }}"
                        }
                    });
                </script>
            </div>
            <div class="retour">
                <a href="{{ path('list_tree_direction') }}"><button type="button" class="btn btn-primary col-md-2"><span class="glyphicon glyphicon-arrow-left"> Retour à l'accueil</span></button></a>
                <div class="col-md-2 col-md-offset-7">
                    <a href="{{ path('impression_data', {'id': aDetailler.id}) }}"><b><img src="{{ asset('images/excel.png') }}" style="height: 35px; font-size: 16px"/>Excel</b></a>
                </div>
                <div class="col-md-1">
                    <a href="#"><b><img src="{{ asset('images/pdf.png') }}" style="height: 40px; font-size: 16px"/>Pdf</b></a>
                </div>
            </div>
        </scroll>
    </div>
{% endblock %}
