<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.css') }}" type="text/css" />
        <title>{% block title %}GCC_Camtel{% endblock %}</title>
        <style>
            .test>div{
                margin-top: 10px;
                font-family: constantia;
            }
        </style>
    </head>
    <body style="background: #384546; height: auto">
        <div style="height: 650px">
            {% block body %}
            {% endblock %}
        </div>
        <footer class="col-md-12"
                style="position: fixed;
                bottom: 0;
                height: 30px;
                background: #3175b0;
                color: white;
                border-top: 1px solid;
                padding: 0px;
                font-size: 18px;">
            Dévellopé par: {{webmaster}}; Tous droits réservés Camtel 2016, dirigé par: M. Bayonmbong Clément
        </footer>
        <script type="text/javascript" src="{{ asset('javascript/animation.js') }}"></script>
        <script type="text/javascript" src="{{ asset('javascript/jquery.min.js') }}"></script>
    </body>
</html>